.wrapper {
  .circle {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #72706b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #d8d8d9;
    transition: background-color 0.5s ease, border 0.5s ease;
    z-index: 10;
    cursor: pointer;
    .hole {
      width: 1rem;
      height: 1rem;
      background-color: #fff;
      border-radius: 50%;
      transition: width 0.5s ease, height 0.5s ease;
    }
  }
  .tooltip {
    position: relative;
    visibility: hidden;
    width: 0;
    height: 0;
    background-color: var(--white);
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 4rem;
    display: block;
    z-index: 10;
    .leftContent {
      padding: 1.5rem 0.5rem 2.5rem 1.5rem;
      display: inline-block;
      width: 198px;
      border-right: 1px solid var(--grey2);
      p {
        margin-top: 1.5rem;
        color: var(--primary-color);
        padding-right: 1rem;
      }
    }

    .rightContent {
      display: inline-block;
      top: calc(50% - 2rem);
      position: absolute;
    }
  }
  &:hover {
    .circle {
      background-color: var(--black);
      border: 0px solid transparent;
      .hole {
        width: 0.75rem;
        height: 0.75rem;
      }
    }

    .tooltip {
      visibility: visible;
      width: auto;
      height: auto;
      margin-top: 1rem;
      width: 16.5rem;
      &.bottom {
        margin-left: -6rem;
      }

      &.bottomLeft {
        margin-left: -10rem;
      }
    }
  }
}

@media screen and (width >= 1024px) {
  .wrapper {
    .circle {
      width: 4.5rem;
      height: 4.5rem;
      .hole {
        width: 2rem;
        height: 2rem;
      }
      &:hover {
        .hole {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }

    .tooltip {
      .leftContent {
        h3 {
          font-size: 1.5rem;
          line-height: 1.75rem;
        }
        p {
          margin-top: 1.25rem;
          line-height: 1.5;
          font-size: 1rem;
        }
      }
    }

    &:hover {
      .tooltip {
        margin-left: -10rem;
      }
    }
  }
}
